<div class="container">
  <div class="fav-button">
    <i class="fas fa-arrow-down" routerLink="/centers"></i>
  </div>
  <div class="menu">
    <i class="fas fa-bars" ></i>
  </div>
  <div class="content-container">
    <p>
      Gracias por interesarte en nuestro programa educativo. Que tu colegio participe es muy importante para nosotros y hemos preparado actividades muy interesantes. Benjamín de Sefarad tiene un doble objetivo:
    </p>
  </div>
  <div class="content-items-container">
    <ul>
      <li>Sensibilizar respecto a la importancia de
        la cultura judía de España, y en general,
        la importancia de historia y nuestra
        memoria. A través de contenidos de una
        temática distinta que pueden ocupar
        una o dos clases lectivas y no altere la
        programación prevista</li>
      <li>Fomentar la escritura con el concurso de
        microrrelatos</li>
    </ul>
  </div>
  <div class="content-container-footer">
    <p>
      Si te interesa puedes ampliar información
      sobre:
    </p>
  </div>
  <div class="img-container">
    <img src="assets/benjamin.png" alt="benjamin">
  </div>
</div>
