<div class="container">
  <div class="header-container">
  <h1>BIENVENIDO A LA WEB BENJAMIN DE SEFARAD</h1>
  </div>
  <div class="content-container">
    <p>
      El portal que conecta colegios y alumnos con el proyecto educativo de la Red de Juderías de España. Una web lúdica y divulgativa dónde podrás:
    </p>
  </div>
  <div class="content-items-container">
    <ul>
      <li>Conocer la historia de la comunidad judía en España</li>
      <li>Descubrir los lugares de interés judío en tu ciudad</li>
      <li>Descargar materiales didácticos para trabajar en el aula</li>
      <li>Participar en los concursos y actividades que se desarrollan a lo largo del año</li>
    </ul>
  </div>
  <div class="content-container">
    <p>
      Entra y observa que tenemos preparado para tí
    </p>
  </div>
  <div class="fav-button">
    <i class="fas fa-arrow-down"></i>
  </div>
</div>
